body {
  background-image: repeating-linear-gradient(green,yellow,orange,red);
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  color: #6C1D45;
  font-family: "Rockwell";
  text-align: center;
}
p, ul, ul, li, table, th, tr, td {
  color: #6C1D45;
  font-family:"Helvetica";
  text-align: center;
  padding-left:20%;
  padding-right:20%;
}
ul, li {
  text-align: left;
  padding-left: 27%;
  list-style-position:inside;
}

table {
  width:60%;
  border: 4px solid black;
  padding:1.2em;
  margin-left:auto;
  margin-right:auto;
}
th, tr, td {
  border: 1px solid black;
  padding:1.2em;
}
