span.meme {

}
.meme:hover{
	color:yellow;
	
}
span {
	text-align: center;
}

p, ul, li, table, th, tr, td, span {
  color: #FFFFFF;
  font-family:"Oxygen", sans-serif;
  font-size: 13px;
}

li, ul {
	padding-right: 20%;
 	padding-left: 20%;
}
